{
  "parser": "babel-eslint",
  "extends": ["bambi/native"],
  "rules": {
    "prettier/prettier": ["error",{ "printWidth": 120 }],
    "flowtype/no-types-missing-file-annotation": "error",
    "promise/avoid-new": "off",
    "no-unused-vars": "error",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "ignoredYellowBox"]
      }
    ]
  },
  "env": {
    "jest": true
  },
  "globals": {
    "__dirname": true
  }
}
